<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
    <header>
		<a class="header-logo" href="/">LIST</a>
    </header>
    <div class="container">
		<div class="container-header">
        <h1>Shopping List</h1>
		</div>
		<div class="index-table-wrapper">
        <div class="table-head">
			<span class="id-column">ID</span>
			<span>Item</span>
        </div>
        <!-- 05. Define the items array with using <% %> -->
		<% const items = [
			{id: 1, name: "potatoes"},
			{id: 2, name: "carrots"},
			{id: 3, name: "onions"}
		]; %>

        <ul class="table-body">
		<!-- 05. Create elements of list with using forEach --> 
		<% items.forEach((item) => { %>
			<li>
				<span class="id-column"><%= item.id %></span>
				<span class="name-column"><%= item.name %></span>
				<button class="editBtn-column"> edit </button>
			</li>
		<% }); %>
			
        </ul>
		</div>
    </div>
	</body>
</html>